
<!DOCTYPE html>
<html>
    <head>
        <title> GSMS </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="csrf-token" content="kmapods5wQ5L1hn7rcR9OPst7EsN0gC7SrHh3m9K"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,600,700">
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}"> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sidebar-menu.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <a href="{{ url_for('get_all_orders') }}">Orders</a>
        <a href="{{ url_for('get_products') }}">Products</a>
        <h1>Grocery Store Management System</h1>
        <h2>Orders</h2>
        <h3> <a href="{{ url_for('insert_order') }}">ADD NEW ORDER</a></h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Order Number</th>
                <th>Customer Name</th>
                <th>Total Cost</th>
            </tr>
            {% for i in response %}
            <tr>
                <td>{{ i['datetime'] }}</td>
                <td>{{ i['order_id'] }}</td>
                <td>{{ i['customer_name'] }}</td>
                <td>{{ i['total'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
    <!-- <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='common.js') }}"></script>
    <script src="{{ url_for('static',filename='dashboard.js') }}"></script> -->
</html>